@import url('../css/fonts.css');

.slide-track {
    display: flex;
    width: 300%;
    height: 100%;
    transition: transform 0.6s cubic-bezier(0.77, 0, 0.175, 1);
    transform: translateX(-33.333%);
}

.slide-track.slide-case {transform: translateX(-2.5%);}
.slide-track.slide-phot  {transform: translateX(-66.65%);}


/*===========[NOISE]============*/
.noise {
  position: fixed;
  top: -50%;
  left: -50%;
  right: -50%;
  bottom: -50%;
  width: 200%;
  background: url('../img/textures/noise.png') repeat 0 0;
  background-repeat: repeat;
  opacity: .9;
  animation: bg-animation .2s infinite;
  visibility: visible;
  pointer-events: none;
}

@keyframes bg-animation {
  0% {transform: translate(0,0)}
  10% {transform: translate(-5%,-5%)}
  20% {transform: translate(-10%,5%)}
  30% {transform: translate(5%,-10%)}
  40% {transform: translate(-5%,15%)}
  50% {transform: translate(-10%,5%)}
  60% {transform: translate(15%,0)}
  70% {transform: translate(0,10%)}
  80% {transform: translate(-15%,0)}
  90% {transform: translate(10%,5%)}
  100% {transform: translate(5%,0)}
}

/*==========[MARQUEE]===========*/
.marqueeWrapper {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.marqueeOne {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  transform: translateX(-125px);

  h1 {
    font-family: 'Array-SemiboldWide', sans-serif;
    font-size: 8em;
    color: #363638;
    transform: rotate(180deg);
    writing-mode: vertical-rl;
  }
}

.marqueeTwo {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  transform: translateX(50px);

  h1 {
    font-family: 'Array-SemiboldWide', sans-serif;
    font-size: 3em;
    color: #363638;
    transform: rotate(180deg);
    writing-mode: vertical-rl;
  }
}